<div class="container">
    <div>   You are not authorized for this page...</div>
    <div>   Please  <a asp-area="" asp-controller="Gallery" asp-action="Logout">Logout</a> and login as autorized user.</div>
</div>