@model ImageGallery.Client.ViewModels.OrderFrameViewModel

<div>
    <div class="text text-info bottomMarginSmall"> @Model.Address  </div>
    <div class="text">If not correct plz contact</div>
</div>